* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1E9D8;
    color: #3D291E;
    
}

.main-page {
    font-size: 72px;
    color: #fff;
    font-weight: lighter;
    height: 100vh;
    background-image: url("./imgs/main.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow {
    width: 30px;
    height: 30px;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    bottom: 40px;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.names {
    width: 100%;
    position: relative;
}

.artem {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}


.address-guest {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.title {
    font-size: 40px;
}

.subtitle {
    text-align: center;
    font-size: 21px;
}

.date {
    font-size: 72px;
}

.guest-container {
    width: 95%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.initials {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-size: 72px
}

.pictures {
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.pic-1,
.pic-2 {
    height: 210px;
    width: 52%;
    float: left; 
}

.pic-2 {
    z-index: 0;
    margin-top: 40px;
    margin-left: 50%;
    position: relative; 
}

.pic-1 {
    z-index: 1;
    position: absolute; 
}

.timing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    color: #3D291E;
    align-items: center;
}

.timing-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 50px;
}

.time {
    font-size: 43px;
}

.title-2 {
    font-size: 30px;
    text-align: center;
}

.timing-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.location {
    background-image: url("./imgs/location.jpg");
    height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-container {
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #F1E9D8;
}

.go-map {
    border: 1px solid #3D291E;
    font-size: 20px;
    height: 50px;
    width: 160px;
    background-color: #3D291E;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    cursor: pointer;
}

.details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.details-container {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-guest {
    background-image: url("./imgs/form.jpg");
    height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #F1E9D8;
}

.fill-form {
    border: 1px solid #3D291E;
    font-size: 20px;
    height: 50px;
    width: 160px;
    background-color: #3D291E;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    cursor: pointer;
}

.attention {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 500px) {

    .attention{ display: flex;}

    .form-guest {
        display: none;
    }

    .details {
        display: none;
    }

    .location {
        display: none;
    }

    .timing {
        display: none;
    }

    .address-guest {
        display: none;
    }
    
    .main-page {
        display: none;
    }
}


@media screen and (max-height: 700px) {
    
.pic-1,
.pic-2 {
    height: 150px;
}

.timing-container {
    row-gap: 20px;
}


}

@media screen and (max-height: 600px) {
    
    .main-page {
        font-size: 60px;
    }
    
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 16px;
    }

    .date {
        font-size: 50px;
    }

    .initials {
        font-size: 60px;
    }

    .time {
        font-size: 30px;
    }

    .title-2 {
        font-size: 16px
    }
}
